$main_color : pink;
$hover_color :  #fff;
$back_color : #D8D9DC;
$line_color : #454551;

body{
  background: $back_color;
}

//
//ボタンのスタイル
//
button{
  padding: .8em 1.5em .8em 1.5em;
  background: $hover_color;
  color: $main_color;
  // border-style: none;
  border-color: $main_color ;
  border-radius: .5em;
  box-shadow: none;
  cursor: pointer;
  &:hover{
    background: $main_color;
    color: $hover_color;
    border-color: $hover_color;
  }
}


//
//コンテナのスタイル
//
.grit_container{
  width: 900px;
  height: 500px;
  display: flex;
  background-color: pink;
  .grit_main{
    min-width: 75%;
    flex: 3;
    background-color: pink;
  }
  .grit_sub1{
    flex: 1;
    background-color: yellow;
  }
}
